<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.springbootweight.mapper.MsgMapper">

    <resultMap id="BaseResultMap" type="com.wxs.springbootweight.entity.Msg">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="ppType" column="ppType" jdbcType="VARCHAR"/>
        <result property="size" column="size" jdbcType="VARCHAR"/>
        <result property="rc" column="rc" jdbcType="VARCHAR"/>
        <result property="min" column="min" jdbcType="DOUBLE"/>
        <result property="max" column="max" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
                id, type, ppType, size,
                rc, min, max
    </sql>
    <insert id="insertImp">
        insert into testImp(type,ppType,size,rc,min,max) values
        <foreach collection="list" item="item" separator=",">
            (#{item.type},
            #{item.ppType},
            #{item.size},
            #{item.rc},
            #{item.min},
            #{item.max})
        </foreach>
        <!--存在即可修改下述字段的数据，注意values()中的内容是数据表中相应的字段名-->
    </insert>
    <insert id="saveOne">
        if NOT EXISTS(SELECT 1
        FROM msg
        <where>
            type = #{type}
            and ppType = #{ppType}
            <if test="size != null and size !='' ">
                and size = #{size}
            </if>
            <if test="rc != null and rc !='' ">
                and rc = #{rc}
            </if>
            and min = #{min}
            and max = #{max}
        </where>
        )
        INSERT INTO msg(type, ppType, size, rc, min, max)
        values (#{type}, #{ppType}, #{size}, #{rc}, #{min}, #{max});
    </insert>
    <select id="getPPTypes" resultType="java.lang.String">
        select distinct ppType
        from msg
        <where>
            type = '1'
            and size = #{size}
        </where>
    </select>

    <select id="getRcs" resultType="java.lang.String">
        SELECT DISTINCT rc
        FROM msg
        <where>
            type ='1'
            and ppType = #{ppType}
            and size = #{size}
        </where>
    </select>

    <select id="getBzWt" resultType="com.wxs.springbootweight.entity.Msg">
        select min,max
        from msg
        <where>
            ppType = #{ppType}
            <if test="rc != null and rc !='' ">
                and rc = #{rc}
            </if>

            <if test="size != null and size !='' ">
                and size = #{size}
            </if>

        </where>
    </select>


</mapper>
